<% if flash[:errors] %>
 <% flash[:errors].each do |error_message| %>
   <p>
     <%= error_message %>
   </p>
 <% end %>
<% end %>

<%= form_for @user do |f| %>
<%= f.label :username %><br>
<%= f.text_field :username %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.submit "Sign up" %>
<% end %>