<h1><%= @user.username %>'s Posts</h1>


<% @sorted_posts.each do |post| %>
    <% if post.id %>
        <%= image_tag post.content %>
        <p><%= post.description %></p>
        <p>Uploaded on: <%= post.created_at %></p>
        <%= button_to "Edit description", edit_post_path(post.id), method: :get %>
        <%= button_to "Remove post", post, method: :delete %>
        <br>
    <% end %>
<% end %>


<h3>Upload Post</h3>

<%= form_for [@user, @post] do |f| %>

<p><%= f.label :content, "Picture URL" %></p>
<p><%= f.text_field :content %></p>

<p><%= f.label :description %></p>
<p><%= f.text_area :description %></p>

<%= f.submit %>
<% end %>