<h1>User's Post</h1>

<p><%= @post.content %></p>
<p><%= @post.description %></p>
 <h2>Remaining Likes: <%= @remaining_likes %></h2>
<h1>Note: We want to be able to show comments on this page</h1>
<h1> remaining likes is posted here, It needs to be on Users show page on each</h1>
<h1>picture</h1>

<div>class= "jumbotron">
    <div> class="container">
        <h1> class="text-center header-slogan">
            <h1><%= @post.content %></h1>
        </h1>
    </div>
</div>

<div>class="container">
    <p><%= @post.content %></p>
</div>